---
import MemberCard from "../components/MemberCard.astro";
import Layout from "../layouts/Layout.astro";
import { members } from "../lib/data";
---

<Layout title="Fagkom<3">
  <main class="m-auto flex w-full justify-center items-center gap-2 flex-col">
    <h1 class="text-8xl font-thin my-2">Fagkom</h1>
    <section class="w-full px-4">
      <h2
        class="text-4xl font-extrabold border-b border-b-black dark:border-b-white m-4 mt-0 w-fit"
      >
        Medlemmer:
      </h2>
      <div class="w-full flex flex-wrap gap-3 justify-center">
        {members.map((member) => <MemberCard member={member} />)}
      </div>
    </section>
  </main>
</Layout>
