---
import ThemeToggle from "../components/ThemeToggle.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fagkoms homepage<3" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fagkomDark.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-white dark:bg-zinc-900 text-black dark:text-white flex flex-col h-svh transition-colors"
  >
    <nav class="flex flex-col px-4 w-full">
      <div class="flex w-full gap-2 justify-center items-center">
        <img
          src="/fagkomLight.png"
          alt="Fagkom logo"
          class="hidden dark:block size-12"
        />
        <img
          src="/fagkomDark.png"
          alt="Fagkom logo"
          class="dark:hidden size-12"
        />
        <div class="flex-grow"></div>
        <h1 class="text-5xl font-thin my-2">Fagkom</h1>
        <div class="flex-grow"></div>
        <ThemeToggle />
      </div>
      <hr class="border-zinc-900 dark:border-zinc-100 w-full" />
    </nav>
    <slot />
    <div class="flex-grow"></div>
    <footer class="mx-auto flex w-full justify-center items-center gap-2 p-4">
      <p class="text-sm">
        Made with <span class="text-red-500">❤️</span> by Ola
      </p>
    </footer>
  </body>
</html>
